#search{
    border: 2px solid black;
    width:1440px;
    height:350px;
    position: absolute;
    top: 153px;
    left: 0px;
    background-image: linear-gradient(#f59e0b, #f97316, #f43f5e);
}
#tit{
    width:350px;
    height:150px;
    position: absolute;
    top: 10px;
    font-size: 60px;
    text-align: center;
    font-family: cursive, sans-serif;
    font-weight: 750;
    left:20px;
}
#ser{
    border: 2px solid black;
    width: 650px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 30px;
    left: 450px;
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#text1{
    position: absolute;
    top: 55px;
    font-size: 80px;
    text-align: center;
    left: 190px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#text2{
    position: absolute;
    top: 170px;
    font-size: 35px;
    text-align: center;
    left: 470px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#text3{
    border: 2px solid black;
    border-radius: 50px;
    width: 200px;
    height: 35px;
    position: absolute;
    top: 245px;
    font-size: 20px;
    text-align: center;
    left: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#text4{
    border: 2px solid black;
    border-radius: 50px;
    width: 200px;
    height: 35px;
    position: absolute;
    top: 245px;
    font-size: 20px;
    text-align: center;
    left: 650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#text5{
    border: 2px solid black;
    border-radius: 50px;
    width: 200px;
    height: 35px;
    position: absolute;
    top: 245px;
    font-size: 20px;
    text-align: center;
    left: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#reg{
    border: 2px solid black;
    width: 310px;
    height:70px;
    position: absolute;
    top: 27px;
    left: 1120px;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: white;

}
#lock{
    border: 2px solid black;
    width: 1440px;
    height: 150px;
    position: fixed;
    top: 0px;
    left: 0px;
}
